<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>introduce_Myself(Chan)</title>
</head>
<body style="text-align: center;">
    <h1>안녕하세요 {{userName}}님!! 저의 소개를 보러와주셔서 감사합니당</h1>
    <header>
        <div class="title text-flicker-in-glow">
            <h2>저를 소개합니다 !</h2>
        </div>
    </header>
    <section class="introduce">
        <div class="name">
            <span class="title_">이름 :<span>
            <span class="self">서희찬</span>
        </div>
        <div class="age">
            <span class="title_">나이 :<span>
            <span class="self">23살</span>
        </div>
        <div class="department">
            <span class="title_">전공/학번/학년 : <span>
            <span class="self">멀티미디어 공학과/19학번/1학년</span>
        </div>
        <div class="introduce_me">
            <h2>간단한 자기소개</h2>
            <span calss="me">안녕하세요 ! 독서와 헬스와 코딩을 취미로 삼고있는 서희찬입니다.</br>저는 군대 전역을 한지 얼마안되어서 학교는 휴학상태중입니다.</br>저는 모든일에는 끝까지 !! 책임을 지는 성격이고, 한번 잡은 목표는 이루기위해 최선을 다하는 스타일입니다.</br>(그렇기에...수능도 3번쳤답니다..크흑 ㅠㅜㅋ)
            </br>성격은 내성적이여서 낯을 많이 가리지만 친해진다면! 매우 외향적이게된답니다!!(아마도..아닐수도있습니다...)<br/>현재는 저의 꿈 졸업전에 스타트업을 시작하기 위해서 많은 것을 배우기 위해 멋쟁이사자처럼을 열심히 활동중입니다 ! </span>
            
        </div>
        <div class="farewell">
            <h2>감사합니다 !</br>m(_ _)m</h2>
        </div>

    </section>
    
    <footer>제작 : 서희찬 / &nbsp; Mail : gmlcks0513@naver.com <a href="https://github.com/seochan99" target="_blank">[Github]</a></footer>
</body>
</html>