{% extends "base.html" %}
{% load static %}

{% block content %}
<nav class=nav>
    <ul class="nav__list">
        <li class="nav__btn"><a class="nav__link" href="{% url  'show' %}"><p></p><i class="fas fa-home fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="{% url 'introduceMe'%}"><i class="far fa-file fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="{% url 'photoMe'%}"><i class="far fa-image fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="{% url 'profileMe'%}"><i class="far fa-user fa-2x"></i></a></li>
    </ul>
</nav>
<h1>{{post.title}}</h1>
작성자 : {{post.writer}}
날짜 : {{post.pub_date}}
<hr>
<p>{{post.body}}</p>

{% endblock %}