{% extends "base.html" %}
{% load static %}

{% block content %}
<nav class=nav>
    <ul class="nav__list">
        <li class="nav__btn"><a class="nav__link" href="{% url  'main:show' %}"><p></p><i class="fas fa-home fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="{% url 'main:introduceMe'%}"><i class="far fa-file fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="{% url 'main:photoMe'%}"><i class="far fa-image fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="{% url 'main:profileMe'%}"><i class="far fa-user fa-2x"></i></a></li>
    </ul>
</nav>
<h1>{{post.title}}</h1>
작성자 : {{post.writer}}
날짜 : {{post.pub_date}}
<hr>
<!-- if문 추가하기 -->
{% if blog.image %}
<p><img src="{{post.image.url}}" alt="사진"></p>
{% endif %}

<p>{{post.body}}</p>
<a href="{% url 'main:edit' post.id %}">수정하기</a>
<a href="{% url 'main:delete' post.id %}">삭제하기</a>
{% endblock %}