{% extends "base.html" %}
{% load static %}

{% block content %}

<nav class=nav__bar>
    <ul class="nav__list">
        <li class="nav__btn"><a class="nav__link" href="{% url  'main:show' %}"><p></p><i class="fas fa-home fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="{% url 'main:introduceMe'%}"><i class="far fa-file fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nav__link" href="{% url 'main:photoMe'%}"><i class="far fa-image fa-2x"></i></a></li>
        <li class="nav__btn"><a class="nasv__link" href="{% url 'main:profileMe'%}"><i class="far fa-user fa-2x"></i></a></li>
    </ul>
</nav>


<main class="main-title" style="text-align: center;">
<p style="font-size: 30px; padding-bottom: 10px;"> 환영합니다 !! </p>
<h1 style="font-weight: 600;">{{userName}}님 !! </h1>

<div class="main_introduce">
   <h6>이 페이지를 사용하는 방법은 간단합니다 ! </h6>
   <br>
    <div class="main_icon_introduce " style="text-align: center; line-height: 2em;">
        <i class="fas fa-home fa-2x"></i><p>이름 입력 페이지입니다 ! </p>
        <i class="far fa-file fa-2x"></i><p>자기소개 페이지 입니다 !</p>
        <i class="far fa-image fa-2x"></i><p>저의 갤러리입니다 ! </p>
        <i class="far fa-user fa-2x"></i><p>블로그 글목록/글작성이 가능한 페이지 입니다 !</p>
        <br>
    </div>
    <div class="main_main">
       현재 페이지는 설명페이지입니다!!
   </div>
</div>
</main>


{% endblock %}
