{% extends 'base.html' %} 
{% load static %} 
{% load i18n %} 
{% block content %}
<style>
  .status-bar{
    position: fixed;
    top:0px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    font-weight: 600;
 
}
.status-bar__column{
    width: 33%;
}
.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column.fa-battery-full{
    margin : 0px 4px;
}
.status-bar__column:first-child span{
    margin-right: 5px;
}
</style>
<section id="portfolio" style="background-size:100%; margin:200px">
  <div style="width:300px; margin:0 auto; ">
  <div class="wow fadeInUp" data-wow-delay="0.5s">
    <div class="login-sec" >
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %} {{ form.as_p }}
        <div class="login-btn">
          <input type="submit" class="upload-btn" value="Login" style="background: rgba(112, 80, 255, 0.774); color: whitesmoke; border-radius: 14%; border: none;  padding: 5px 30px;"/>
        </div>
      </form>
    </div>
    <br>
    <div>
      <p>회원이 아니신가요? <a href="{% url 'account_signup' %}">회원가입</a></p>
    </div>
  </div>
</div> 
</section>
{% endblock %}
